/* Write your CSS code in this file */

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 300px;
    margin: auto;
}

#message {
    font-weight: bold;
    margin-top: 20px;
}

.winning {
    color: green;
}

.losing {
    color: red;
}

.warning {
    color: orange;
}

.submitting {
    font-style: italic;
}
